.DashboardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    overflow: hidden;
}

.LogoDescription {
    margin-bottom: 0;
    margin-top: 0.75rem;
    font-size: 1.25rem;
    color: var(--tavla-font-color);
    display: block;
}

.Logo {
    display: block;
    height: 2rem;
}

.LargeLogo {
    display: block;
    height: 4rem;
}
